<form class="create-task-form">
    <mat-grid-list cols="1" rowHeight="100px">
        <mat-grid-tile>
            <mat-form-field class="w60" appearance="fill">
                <mat-label>Title</mat-label>
                <input matInput required>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field class="w60" appearance="fill">
                <mat-label>Description</mat-label>
                <textarea matInput placeholder="Please add description for the task"></textarea>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field class="w60" appearance="fill">
                <mat-label>Reminder Date</mat-label>
                <input matInput [matDatepicker]="reminderDate" required>
                <mat-datepicker-toggle matSuffix [for]="reminderDate"></mat-datepicker-toggle>
                <mat-datepicker #reminderDate></mat-datepicker>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field class="w60" appearance="fill">
                <mat-label>Due Date</mat-label>
                <input matInput [matDatepicker]="dueDate" required>
                <mat-datepicker-toggle matSuffix [for]="dueDate"></mat-datepicker-toggle>
                <mat-datepicker #dueDate></mat-datepicker>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field class="w60" appearance="fill">
                <mat-label>Category</mat-label>
                <mat-select [(value)]="selectedCategory" required>
                    <mat-option *ngFor="let category of categories" [value]="category.value">
                        {{ category.displayName }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <div class="w60 create-task-form__button-container">
                <button mat-stroked-button color="primary" type="reset">Reset</button>
                <button mat-raised-button color="accent" (click)="saveTask()">Save Task</button>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</form>