.create-task-form {
    background-color: #000000;
    .w60 {
        width: 60%;
    }
    &__button-container {
        text-align: center;
    }
    input, textarea, mat-label {
        color: #ffffff;
    }
    .reset-button {
        margin: 0 15px;
    }
}
